.div-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    padding-top: 20px;
    width: 30%;
}

.main-content {
    flex: 1; /* El contenido principal se expandirá para ocupar el espacio disponible */
  }