.form-register{
    width: 600px;
}


.container{
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 10px;
    align-items: center;
}

.button-grid{
    grid-column: 1/span 2;
}

.or-register{
    display: grid;
    margin: 0px;
    justify-content: center;
    color: black;
}

.button-google-register
{
    display: grid ;
    grid-template-columns: 100px 500px;
    border-color: #535bf2;
    background-color: white;
    cursor: pointer;
    color: black;
    height: 40px;
    width: 100%;
    padding: 0px;
    justify-items: center;
    align-items: center;
}

@media (max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
    }

    .form-register{
        width: 250px;
    }
    
    .button-google-register {
        grid-template-columns: none;
    }

    .hide{
        display: none;
    }
}