.Botones-carrousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    
}

.botonsvg{
    cursor: pointer;
    padding: 5px;
}

.div-image {
    overflow: hidden;
    width: 60%; /* Adjust to the desired carousel width */
    height: 500px; /* Adjust to match your image height */
    position: relative;
  }
  
  .columna {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 110%;
  }
  
  .centerli {
    flex: 0 0 100%; /* Ensures each image takes up full carousel width */
    list-style: none;
  }
  
  .centerli img {
    width: 100%; /* Image takes full width of carousel */
    height: auto; /* Maintain aspect ratio */
  }