.footer {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 20px 10px;
    
    bottom: 0;
    width: 100%;
    margin-top: 40px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .footer-link:hover {
    color: #646cff; /* Cambia el color al pasar el mouse (ej. verde brillante) */
  }
  